.statistique-wrapper {
  text-align: center;
  border: 2px solid rgb(8 131 144);
  border-radius: 10px;
  padding: 0.70rem 0.75rem;
}

.statistique-wrapper .title {
  color: #666666;
}

.statistique-wrapper .value {
  font-weight: bold;
}
