.btn {
  display: inline-block;
  position: relative;
  left: 19rem;
  padding: 0.5rem 1.3rem ;
  border: 1px solid rgb(8 131 144);
  border-radius: 5px;
  background-color: rgb(8 131 144);
  color: white;
  text-decoration: none;
}

.statistique-container {
  margin-bottom: 2rem;
}
