.main-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-title {
  text-align: center;
  padding: 0.5rem 4rem ;
  border: 1px solid rgb(8 131 144);
  border-radius: 5px;
  background-color: rgb(8 131 144);
  color: white;
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.margin-element-chart {
  width: 20%;
}

.btn-wrapper {
  width: 100%;
  padding-left: 70%;
}

.btn {
  padding: 0.5rem 1.3rem ;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(8 131 144);
  color: white;
  text-decoration: none;
}

ngx-tooltip-content  {
  padding: 0.5rem !important;
  background-color: rgb(8, 131, 144) !important;
}

.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid rgb(8, 131, 144) !important;
}

.statistique-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.statistique-wrapper {
  padding: 0.25rem;
  text-align: center;
}

.statistique-wrapper .title {
  color: #666666 !important;
}

.statistique-wrapper .value {
  font-weight: bold;
}

